#workers-title {
  padding-left: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
}

#download-btn {
  margin-left: 6.5%;
  margin-bottom: 3.4%;
  margin-top: 1%;
  color: #fff;
  background-color: #a4d4ff;
  border-radius: 7px;
}

#sort_row,
#display_row,
#reg_row {
  margin-left: 8%;
  margin-bottom: 0.01%;
}

#sort_row p,
#display_row p,
#reg_row p {
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
  color: #717787;
  letter-spacing: 0.08em;
}

#sort_row label {
  margin-left: 7%;
}

#display_row label {
  margin-left: 5%;
  display: inline-block;
}

#reg_row label {
  margin-left: 7%;
}

#sort_row span,
#display_row span,
#reg_row span {
  font-size: 1.2em;
}

#worker-table {
  margin-left: 7%;
  margin-top: 4.5%;
  margin-bottom: 3%;
}

#worker-table .section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #6e768d;
}

#worker-table table {
  width: 94%;
}

#worker-table th {
  font-size: 0.96em;
}

#worker-table td {
  padding-top: 1.6%;
  padding-bottom: 1.6%;
  padding-left: 4%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  letter-spacing: 0.04em;
}

#worker-table td:nth-child(3) {
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#worker-table td:nth-child(1),
#worker-table td:nth-child(2) {
  padding-left: 2%;
}
