#workers-title {
  padding-left: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #6e768d;
  border-bottom: 2px solid #ebedec;
}
