# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.
#
# This is a sample .env file that describes all the environment variables that
# should be defined for proper execution of the backend server.

# Web server parameters
# 
# Port on which to run the server
SERVER_PORT=
# CORS origin
CORS_ORIGIN=
# Should cookies be secure
SECURE_COOKIES=

# Database config
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SECURE=

# Local temporary folder
LOCAL_FOLDER=

# Log config
LOG_FOLDER=
LOG_ARCHIVE_PATTERN=

# Google Client ID
GOOGLE_CLIENT_ID=

# Azure blob store details
AZURE_BLOB_ACCOUNT=
AZURE_BLOB_KEY=

# OTP Service provider details
PNONE_OTP_AVAILABLE=
PHONE_OTP_URL=
PHONE_OTP_API_KEY=

# Azure key vault account
AZURE_KEY_VAULT=

# JWT key gen parameters
KARYA_JWT_KID=<kid>
KARYA_JWT_KEY_<kid>=

# Keycloak variables
KEYCLOAK_BASE_URL="http://localhost:8080"
KEYCLOAK_REALM="master"
KEYCLOAK_USERNAME='admin'
KEYCLOAK_PASSWORD='password'
