#create-assignment-link {
  margin-left: 46%;
}

#create-assignment-link button {
  color: #fff;
  background-color: #4fc3f7;
  border-radius: 7px;
  margin-bottom: 1%;
}

#task-assignment-table table {
  margin-left: 3%;
  width: 94%;
}

#task-assignment-table td {
  padding-top: 2%;
  padding-bottom: 2%;
}

#task-assignment-table td:nth-child(3),
td:nth-child(4) {
  font-size: 0.85em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#task-assignment-table td:nth-child(4) span {
  display: inline-block;
  width: 45%;
  padding: 0.8%;
  background-color: #f0f8ff;
  border-radius: 7px;
}
