{
  "extends": ["plugin:prettier/recommended"],

  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],

  "ignorePatterns": "dist/*.js",

  "rules": {
    "sort-imports": ["off"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
