<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.research.karya">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".KaryaApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeGray"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.registration.RegistrationActivity" />
        <!--
        - Starting activity. Checks for registered user and moves to language selection or the
        - dashboard.
        -->
        <activity
            android:name="com.microsoft.research.karya.ui.splashScreen.SplashScreen"
            android:noHistory="true" />

        <!-- Activity to fetch data on initial load -->
        <activity
            android:name="com.microsoft.research.karya.ui.fetchData.FirstLoadFetchData"
            android:screenOrientation="portrait"
            android:noHistory="true"
            />

        <!-- Activity to display the user dashboard -->
        <activity
            android:name="com.microsoft.research.karya.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />

        <!-- Microtask rendering activities -->
        <activity
            android:name="com.microsoft.research.karya.ui.scenarios.speechData.SpeechDataMain"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.microsoft.research.karya.ui.scenarios.storySpeech.StorySpeechMain"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.microsoft.research.karya.ui.scenarios.speechVerification.SpeechVerificationMain"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.splashScreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.accesscode.AccessCodeActivity" />

    </application>
</manifest>