#main-row {
  background-color: #fff;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 5px;
  padding: 2%;
}

#page-title {
  padding-left: 3%;
  padding-bottom: 2%;
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #6e768d;
  border-bottom: 2px solid #ebedec;
}

#create-task-btn {
  margin-left: 70%;
  margin-bottom: 1%;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.07em;
  color: #fff;
  background-color: #4fc3f7;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.3s ease-in;
}

#create-task-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.collapsible {
  box-shadow: none;
  border: none;
}

.collapsible-header {
  border-bottom: 1px dashed rgba(180, 189, 198, 0.8);
}

.collapsible-body {
  border-bottom: 2px solid rgba(235, 237, 236, 0.48);
}

.collapsible i {
  font-size: 1.5em;
  color: #a4d4ff;
  margin-top: 0.2%;
  margin-left: 1%;
}

.task-name {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #717787;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 1.5%;
  width: 10%;
}

.badge {
  font-size: 0.85em !important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #717787 !important;
}

.status {
  width: 12%;
  margin-right: 5%;
  background-color: #f0f8ff;
  border-radius: 7px;
}

.scenario {
  margin-left: 28% !important;
}

.arrow-2 {
  display: inline-block;
  height: 5px;
  width: 5px;
  border: 1px solid #2bbbad;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  margin-left: 3%;
  margin-bottom: 1%;
}

.arrow-2:after {
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  border: 1px solid #2bbbad;
  border-width: 1px 1px 0 0;
  transform: translate(5px, -6px);
}

.details-link {
  width: 10%;
  color: #2bbbad;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.88em;
}

.details-link:hover {
  transform: scale(1.08);
}
